---
---

@font-face {
  font-family: "NHL";
  src: url("/assets/fonts/NHLMontreal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import "reset";
@import "variables";
@import "base";
@import "header";
@import "bracket";
