header {
  background-color: $background;
  border-bottom: 5px solid $border;
  .page-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  width: 170px;
  height: 60px;
  background-image: url(assets/img/logo-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  &:after {
    display: none;
  }
}

.navigation {
  ul {
    display: flex;
    flex-direction: row;
  }
  a {
    color: $text;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    &:visited {
      color: $text;
    }
  }
}

.logos {
  margin-bottom: 20px;
  .page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .small-logo {
    flex: 1;
    height: 50px;
    position: relative;
    &.winner {
      img {
        opacity: 1;
        -webkit-filter: grayscale(0);
        filter: none;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 18px;
        height: 35px;
        background-image: url(assets/img/icon-cup.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  img {
    position: absolute;
    width: 90%;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-50%);
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
  }
}